In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Loan_approval_data_2025 (1).csv')

In [3]:
df

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CUST149995,35,Employed,4.3,39449,570,16.3,1127,7576,0,0,0,Credit Card,Education,42800,21.31,0.192,1.085,0.362,0
49996,CUST149996,34,Employed,4.4,20496,672,12.6,1478,6276,1,0,0,Credit Card,Personal,3800,18.07,0.306,0.185,0.062,0
49997,CUST149997,41,Self-Employed,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0
49998,CUST149998,38,Student,0.4,17250,633,1.3,5,7779,0,0,1,Personal Loan,Personal,1400,14.71,0.451,0.081,0.027,0
49999,CUST149999,53,Employed,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [4]:
df[df.age > 40]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
6,CUST100006,53,Employed,22.9,44989,674,11.1,19667,19298,0,0,0,Personal Loan,Home Improvement,45600,11.02,0.429,1.014,0.338,1
7,CUST100007,44,Self-Employed,4.2,80603,625,18.5,830,38382,0,0,0,Credit Card,Personal,51700,19.42,0.476,0.641,0.214,1
9,CUST100009,41,Employed,7.0,70717,638,21.5,1578,21394,0,1,0,Credit Card,Personal,70000,19.35,0.303,0.990,0.330,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49988,CUST149988,60,Student,1.2,67558,774,13.4,647,2042,0,0,0,Credit Card,Business,6800,14.86,0.030,0.101,0.034,1
49989,CUST149989,41,Employed,16.8,80369,671,14.2,2968,17515,0,0,0,Credit Card,Education,35900,17.31,0.218,0.447,0.149,1
49993,CUST149993,53,Employed,18.1,36948,676,2.6,59,11421,0,0,1,Credit Card,Personal,2400,18.06,0.309,0.065,0.022,1
49997,CUST149997,41,Self-Employed,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0
49999,CUST149999,53,Employed,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              50000 non-null  object
 1   age                      50000 non-null  int64
 2   occupation_status        50000 non-null  object
 3   years_employed           50000 non-null  float64
 4   annual_income            50000 non-null  int64
 5   credit_score             50000 non-null  int64
 6   credit_history_years     50000 non-null  float64
 7   savings_assets           50000 non-null  int64
 8   current_debt             50000 non-null  int64
 9   defaults_on_file         50000 non-null  int64
 10  delinquencies_last_2yrs  50000 non-null  int64
 11  derogatory_marks         50000 non-null  int64
 12  product_type             50000 non-null  object
 13  loan_intent              50000 non-null  object
 14  loan_amount              50000 non-null  int64
 15  interest_rate            50000 non-null  float64
 16  debt_to_income_ratio     50000 non-null  float64
 17  loan_to_income_ratio     50000 non-null  float64
 18  payment_to_income_ratio  50000 non-null  float64
 19  loan_status              50000 non-null  int64
dtypes: float64(6), int64(10), object(4)
memory usage: 7.6+ MB

In [6]:

df[df.loan_status == 1]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1
6,CUST100006,53,Employed,22.9,44989,674,11.1,19667,19298,0,0,0,Personal Loan,Home Improvement,45600,11.02,0.429,1.014,0.338,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49986,CUST149986,40,Employed,3.7,97505,684,13.9,854,33798,0,1,0,Credit Card,Medical,70000,17.04,0.347,0.718,0.239,1
49988,CUST149988,60,Student,1.2,67558,774,13.4,647,2042,0,0,0,Credit Card,Business,6800,14.86,0.030,0.101,0.034,1
49989,CUST149989,41,Employed,16.8,80369,671,14.2,2968,17515,0,0,0,Credit Card,Education,35900,17.31,0.218,0.447,0.149,1
49993,CUST149993,53,Employed,18.1,36948,676,2.6,59,11421,0,0,1,Credit Card,Personal,2400,18.06,0.309,0.065,0.022,1
49999,CUST149999,53,Employed,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [7]:
df[df.credit_score > 680]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
13,CUST100013,18,Employed,0.0,55958,681,1.4,378,14090,0,0,0,Credit Card,Education,18000,17.78,0.252,0.322,0.107,1
20,CUST100020,52,Employed,31.3,75932,695,2.1,1283,10655,0,0,0,Personal Loan,Home Improvement,96000,11.05,0.140,1.264,0.421,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49984,CUST149984,39,Self-Employed,4.8,113630,717,10.8,422,37982,0,0,0,Personal Loan,Debt Consolidation,92900,11.17,0.334,0.818,0.273,1
49986,CUST149986,40,Employed,3.7,97505,684,13.9,854,33798,0,1,0,Credit Card,Medical,70000,17.04,0.347,0.718,0.239,1
49988,CUST149988,60,Student,1.2,67558,774,13.4,647,2042,0,0,0,Credit Card,Business,6800,14.86,0.030,0.101,0.034,1
49997,CUST149997,41,Self-Employed,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0
49999,CUST149999,53,Employed,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [8]:
df[df.occupation_status == 'Self-Employed']

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
7,CUST100007,44,Self-Employed,4.2,80603,625,18.5,830,38382,0,0,0,Credit Card,Personal,51700,19.42,0.476,0.641,0.214,1
14,CUST100014,18,Self-Employed,1.0,99020,561,1.6,538,13733,0,1,1,Credit Card,Medical,35700,21.57,0.139,0.361,0.120,0
16,CUST100016,22,Self-Employed,1.0,82604,605,3.5,9216,16116,0,0,0,Line of Credit,Personal,50000,12.57,0.195,0.605,0.202,1
19,CUST100019,18,Self-Employed,1.0,55309,597,1.5,346,2930,0,0,0,Personal Loan,Debt Consolidation,50400,16.13,0.053,0.911,0.304,0
24,CUST100024,28,Self-Employed,5.4,59899,567,3.2,20476,27393,0,0,0,Line of Credit,Medical,31700,14.98,0.457,0.529,0.176,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49973,CUST149973,19,Self-Employed,1.0,50052,635,0.2,4,13515,0,1,0,Credit Card,Education,6200,20.99,0.270,0.124,0.041,1
49975,CUST149975,21,Self-Employed,1.0,68454,552,2.3,1371,24545,0,3,1,Personal Loan,Debt Consolidation,100000,16.41,0.359,1.461,0.487,0
49981,CUST149981,40,Self-Employed,16.2,36357,601,19.4,3526,22029,0,1,0,Credit Card,Personal,31600,20.29,0.606,0.869,0.290,0
49984,CUST149984,39,Self-Employed,4.8,113630,717,10.8,422,37982,0,0,0,Personal Loan,Debt Consolidation,92900,11.17,0.334,0.818,0.273,1
49997,CUST149997,41,Self-Employed,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0

In [9]:
df.columns.str.lower()

Index(['customer_id', 'age', 'occupation_status', 'years_employed',
       'annual_income', 'credit_score', 'credit_history_years',
       'savings_assets', 'current_debt', 'defaults_on_file',
       'delinquencies_last_2yrs', 'derogatory_marks', 'product_type',
       'loan_intent', 'loan_amount', 'interest_rate', 'debt_to_income_ratio',
       'loan_to_income_ratio', 'payment_to_income_ratio', 'loan_status'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              50000 non-null  object
 1   age                      50000 non-null  int64
 2   occupation_status        50000 non-null  object
 3   years_employed           50000 non-null  float64
 4   annual_income            50000 non-null  int64
 5   credit_score             50000 non-null  int64
 6   credit_history_years     50000 non-null  float64
 7   savings_assets           50000 non-null  int64
 8   current_debt             50000 non-null  int64
 9   defaults_on_file         50000 non-null  int64
 10  delinquencies_last_2yrs  50000 non-null  int64
 11  derogatory_marks         50000 non-null  int64
 12  product_type             50000 non-null  object
 13  loan_intent              50000 non-null  object
 14  loan_amount              50000 non-null  int64
 15  interest_rate            50000 non-null  float64
 16  debt_to_income_ratio     50000 non-null  float64
 17  loan_to_income_ratio     50000 non-null  float64
 18  payment_to_income_ratio  50000 non-null  float64
 19  loan_status              50000 non-null  int64
dtypes: float64(6), int64(10), object(4)
memory usage: 7.6+ MB

In [11]:
df[df.product_type == ('Credit Card')]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
5,CUST100005,32,Employed,13.4,32015,570,7.3,253,1120,0,0,2,Credit Card,Personal,37000,22.92,0.035,1.156,0.385,0
7,CUST100007,44,Self-Employed,4.2,80603,625,18.5,830,38382,0,0,0,Credit Card,Personal,51700,19.42,0.476,0.641,0.214,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49991,CUST149991,26,Employed,0.7,22159,550,3.7,1174,12699,0,0,0,Credit Card,Personal,24600,21.52,0.573,1.110,0.370,0
49993,CUST149993,53,Employed,18.1,36948,676,2.6,59,11421,0,0,1,Credit Card,Personal,2400,18.06,0.309,0.065,0.022,1
49995,CUST149995,35,Employed,4.3,39449,570,16.3,1127,7576,0,0,0,Credit Card,Education,42800,21.31,0.192,1.085,0.362,0
49996,CUST149996,34,Employed,4.4,20496,672,12.6,1478,6276,1,0,0,Credit Card,Personal,3800,18.07,0.306,0.185,0.062,0
49997,CUST149997,41,Self-Employed,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0

In [12]:
df[df.loan_amount > 50000]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1
7,CUST100007,44,Self-Employed,4.2,80603,625,18.5,830,38382,0,0,0,Credit Card,Personal,51700,19.42,0.476,0.641,0.214,1
9,CUST100009,41,Employed,7.0,70717,638,21.5,1578,21394,0,1,0,Credit Card,Personal,70000,19.35,0.303,0.990,0.330,1
19,CUST100019,18,Self-Employed,1.0,55309,597,1.5,346,2930,0,0,0,Personal Loan,Debt Consolidation,50400,16.13,0.053,0.911,0.304,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49975,CUST149975,21,Self-Employed,1.0,68454,552,2.3,1371,24545,0,3,1,Personal Loan,Debt Consolidation,100000,16.41,0.359,1.461,0.487,0
49983,CUST149983,36,Employed,6.2,67472,763,10.6,264,5643,0,0,0,Credit Card,Personal,68600,14.10,0.084,1.017,0.339,1
49984,CUST149984,39,Self-Employed,4.8,113630,717,10.8,422,37982,0,0,0,Personal Loan,Debt Consolidation,92900,11.17,0.334,0.818,0.273,1
49986,CUST149986,40,Employed,3.7,97505,684,13.9,854,33798,0,1,0,Credit Card,Medical,70000,17.04,0.347,0.718,0.239,1
49987,CUST149987,34,Employed,5.3,32326,678,14.7,585,12320,0,0,0,Personal Loan,Business,55200,11.54,0.381,1.708,0.569,0

In [13]:
df[df.delinquencies_last_2yrs == 1]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
9,CUST100009,41,Employed,7.0,70717,638,21.5,1578,21394,0,1,0,Credit Card,Personal,70000,19.35,0.303,0.990,0.330,1
14,CUST100014,18,Self-Employed,1.0,99020,561,1.6,538,13733,0,1,1,Credit Card,Medical,35700,21.57,0.139,0.361,0.120,0
17,CUST100017,38,Employed,5.3,53356,671,19.8,6339,23085,0,1,0,Credit Card,Debt Consolidation,18700,17.58,0.433,0.350,0.117,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49981,CUST149981,40,Self-Employed,16.2,36357,601,19.4,3526,22029,0,1,0,Credit Card,Personal,31600,20.29,0.606,0.869,0.290,0
49985,CUST149985,37,Employed,1.9,28050,653,18.6,476,15554,0,1,0,Personal Loan,Debt Consolidation,5000,11.47,0.555,0.178,0.059,0
49986,CUST149986,40,Employed,3.7,97505,684,13.9,854,33798,0,1,0,Credit Card,Medical,70000,17.04,0.347,0.718,0.239,1
49992,CUST149992,30,Employed,9.3,24797,610,8.3,16,6282,0,1,0,Personal Loan,Medical,32100,14.98,0.253,1.295,0.432,0
49999,CUST149999,53,Employed,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [14]:
df[df.defaults_on_file  == 0]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,CUST149994,18,Employed,0.0,64343,585,1.3,277,27914,0,0,2,Personal Loan,Personal,41600,15.42,0.434,0.647,0.216,0
49995,CUST149995,35,Employed,4.3,39449,570,16.3,1127,7576,0,0,0,Credit Card,Education,42800,21.31,0.192,1.085,0.362,0
49997,CUST149997,41,Self-Employed,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0
49998,CUST149998,38,Student,0.4,17250,633,1.3,5,7779,0,0,1,Personal Loan,Personal,1400,14.71,0.451,0.081,0.027,0
49999,CUST149999,53,Employed,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [15]:
df[df.debt_to_income_ratio > 0.4]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
6,CUST100006,53,Employed,22.9,44989,674,11.1,19667,19298,0,0,0,Personal Loan,Home Improvement,45600,11.02,0.429,1.014,0.338,1
7,CUST100007,44,Self-Employed,4.2,80603,625,18.5,830,38382,0,0,0,Credit Card,Personal,51700,19.42,0.476,0.641,0.214,1
8,CUST100008,29,Employed,5.9,28416,569,2.6,1334,22668,1,2,0,Credit Card,Education,33800,22.72,0.798,1.189,0.396,0
12,CUST100012,37,Employed,1.3,49084,580,11.3,1289,21106,0,0,1,Line of Credit,Medical,40800,13.12,0.430,0.831,0.277,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49985,CUST149985,37,Employed,1.9,28050,653,18.6,476,15554,0,1,0,Personal Loan,Debt Consolidation,5000,11.47,0.555,0.178,0.059,0
49991,CUST149991,26,Employed,0.7,22159,550,3.7,1174,12699,0,0,0,Credit Card,Personal,24600,21.52,0.573,1.110,0.370,0
49994,CUST149994,18,Employed,0.0,64343,585,1.3,277,27914,0,0,2,Personal Loan,Personal,41600,15.42,0.434,0.647,0.216,0
49997,CUST149997,41,Self-Employed,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0
49998,CUST149998,38,Student,0.4,17250,633,1.3,5,7779,0,0,1,Personal Loan,Personal,1400,14.71,0.451,0.081,0.027,0

In [16]:
df[df.loan_status == 'Student']

Empty DataFrame
Columns: [customer_id, age, occupation_status, years_employed, annual_income, credit_score, credit_history_years, savings_assets, current_debt, defaults_on_file, delinquencies_last_2yrs, derogatory_marks, product_type, loan_intent, loan_amount, interest_rate, debt_to_income_ratio, loan_to_income_ratio, payment_to_income_ratio, loan_status]
Index: []

# Assignment:
11.	Find customers whose loan was approved and credit score is above 650.
12.	Display customers aged between 25 and 40 years.
13.	Find high-income customers (income > 50,000) whose loan was rejected.
14.	Show customers with credit score less than 600 OR at least one delinquency.
15.	Display customers who applied for either Credit Card or Personal Loan.
16.	Find customers with loan-to-income ratio greater than 1 AND debt-to-income ratio greater than 0.4.
17.	Show rejected loans where interest rate is greater than 18%.
18.	Find customers with more than 10 years of employment and credit score above 650.
19.	Display customers whose payment-to-income ratio is greater than 0.3.
20.	Show customers who are under 30 years old AND applied for a loan greater than 30,000.
________________________________________

In [19]:
df[(df.loan_status == 1)&(df.credit_score )]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
6,CUST100006,53,Employed,22.9,44989,674,11.1,19667,19298,0,0,0,Personal Loan,Home Improvement,45600,11.02,0.429,1.014,0.338,1
10,CUST100010,29,Employed,5.0,15000,657,8.9,2105,3866,0,0,0,Line of Credit,Education,5000,9.24,0.258,0.333,0.111,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49986,CUST149986,40,Employed,3.7,97505,684,13.9,854,33798,0,1,0,Credit Card,Medical,70000,17.04,0.347,0.718,0.239,1
49988,CUST149988,60,Student,1.2,67558,774,13.4,647,2042,0,0,0,Credit Card,Business,6800,14.86,0.030,0.101,0.034,1
49989,CUST149989,41,Employed,16.8,80369,671,14.2,2968,17515,0,0,0,Credit Card,Education,35900,17.31,0.218,0.447,0.149,1
49993,CUST149993,53,Employed,18.1,36948,676,2.6,59,11421,0,0,1,Credit Card,Personal,2400,18.06,0.309,0.065,0.022,1
49999,CUST149999,53,Employed,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [20]:
#Display customers aged between 25 and 40 years.
df[(df.age > 25)&(df.age < 40)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1
5,CUST100005,32,Employed,13.4,32015,570,7.3,253,1120,0,0,2,Credit Card,Personal,37000,22.92,0.035,1.156,0.385,0
8,CUST100008,29,Employed,5.9,28416,569,2.6,1334,22668,1,2,0,Credit Card,Education,33800,22.72,0.798,1.189,0.396,0
10,CUST100010,29,Employed,5.0,15000,657,8.9,2105,3866,0,0,0,Line of Credit,Education,5000,9.24,0.258,0.333,0.111,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49991,CUST149991,26,Employed,0.7,22159,550,3.7,1174,12699,0,0,0,Credit Card,Personal,24600,21.52,0.573,1.110,0.370,0
49992,CUST149992,30,Employed,9.3,24797,610,8.3,16,6282,0,1,0,Personal Loan,Medical,32100,14.98,0.253,1.295,0.432,0
49995,CUST149995,35,Employed,4.3,39449,570,16.3,1127,7576,0,0,0,Credit Card,Education,42800,21.31,0.192,1.085,0.362,0
49996,CUST149996,34,Employed,4.4,20496,672,12.6,1478,6276,1,0,0,Credit Card,Personal,3800,18.07,0.306,0.185,0.062,0
49998,CUST149998,38,Student,0.4,17250,633,1.3,5,7779,0,0,1,Personal Loan,Personal,1400,14.71,0.451,0.081,0.027,0

In [24]:
#Find high-income customers (income > 50,000) whose loan was rejected.
df[(df.annual_income > 50000)&(df.loan_status == 0)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
14,CUST100014,18,Self-Employed,1.0,99020,561,1.6,538,13733,0,1,1,Credit Card,Medical,35700,21.57,0.139,0.361,0.120,0
19,CUST100019,18,Self-Employed,1.0,55309,597,1.5,346,2930,0,0,0,Personal Loan,Debt Consolidation,50400,16.13,0.053,0.911,0.304,0
24,CUST100024,28,Self-Employed,5.4,59899,567,3.2,20476,27393,0,0,0,Line of Credit,Medical,31700,14.98,0.457,0.529,0.176,0
43,CUST100043,31,Employed,10.0,51632,677,11.0,3117,32886,0,0,0,Credit Card,Personal,59700,18.54,0.637,1.156,0.385,0
71,CUST100071,53,Employed,17.3,57938,697,10.0,8553,38346,0,0,0,Credit Card,Personal,59100,18.67,0.662,1.020,0.340,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49966,CUST149966,42,Employed,15.8,99696,662,13.2,39516,62417,0,0,0,Personal Loan,Education,6900,11.63,0.626,0.069,0.023,0
49967,CUST149967,35,Self-Employed,5.1,59364,576,1.7,558,12937,0,0,0,Personal Loan,Debt Consolidation,30700,16.06,0.218,0.517,0.172,0
49971,CUST149971,38,Employed,13.5,66904,696,8.4,2630,41918,0,0,0,Personal Loan,Education,63500,11.13,0.627,0.949,0.316,0
49975,CUST149975,21,Self-Employed,1.0,68454,552,2.3,1371,24545,0,3,1,Personal Loan,Debt Consolidation,100000,16.41,0.359,1.461,0.487,0
49994,CUST149994,18,Employed,0.0,64343,585,1.3,277,27914,0,0,2,Personal Loan,Personal,41600,15.42,0.434,0.647,0.216,0

In [27]:
#Show customers with credit score less than 600 OR at least one delinquency.
df[(df.credit_score < 600)|(df.delinquencies_last_2yrs == 1)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
5,CUST100005,32,Employed,13.4,32015,570,7.3,253,1120,0,0,2,Credit Card,Personal,37000,22.92,0.035,1.156,0.385,0
8,CUST100008,29,Employed,5.9,28416,569,2.6,1334,22668,1,2,0,Credit Card,Education,33800,22.72,0.798,1.189,0.396,0
9,CUST100009,41,Employed,7.0,70717,638,21.5,1578,21394,0,1,0,Credit Card,Personal,70000,19.35,0.303,0.990,0.330,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49991,CUST149991,26,Employed,0.7,22159,550,3.7,1174,12699,0,0,0,Credit Card,Personal,24600,21.52,0.573,1.110,0.370,0
49992,CUST149992,30,Employed,9.3,24797,610,8.3,16,6282,0,1,0,Personal Loan,Medical,32100,14.98,0.253,1.295,0.432,0
49994,CUST149994,18,Employed,0.0,64343,585,1.3,277,27914,0,0,2,Personal Loan,Personal,41600,15.42,0.434,0.647,0.216,0
49995,CUST149995,35,Employed,4.3,39449,570,16.3,1127,7576,0,0,0,Credit Card,Education,42800,21.31,0.192,1.085,0.362,0
49999,CUST149999,53,Employed,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [30]:
#Display customers who applied for either Credit Card or Personal Loan.
df[(df.product_type == 'Credit Card')|(df.product_type == 'Personal Loan')]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CUST149995,35,Employed,4.3,39449,570,16.3,1127,7576,0,0,0,Credit Card,Education,42800,21.31,0.192,1.085,0.362,0
49996,CUST149996,34,Employed,4.4,20496,672,12.6,1478,6276,1,0,0,Credit Card,Personal,3800,18.07,0.306,0.185,0.062,0
49997,CUST149997,41,Self-Employed,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0
49998,CUST149998,38,Student,0.4,17250,633,1.3,5,7779,0,0,1,Personal Loan,Personal,1400,14.71,0.451,0.081,0.027,0
49999,CUST149999,53,Employed,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [34]:
#Find customers with loan-to-income ratio greater than 1 AND debt-to-income ratio greater than 0.4.
df[(df.loan_to_income_ratio > 1)&(df.debt_to_income_ratio > 0.4)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
6,CUST100006,53,Employed,22.9,44989,674,11.1,19667,19298,0,0,0,Personal Loan,Home Improvement,45600,11.02,0.429,1.014,0.338,1
8,CUST100008,29,Employed,5.9,28416,569,2.6,1334,22668,1,2,0,Credit Card,Education,33800,22.72,0.798,1.189,0.396,0
35,CUST100035,20,Employed,1.0,21651,703,1.7,52,12414,0,1,0,Credit Card,Personal,30000,16.23,0.573,1.386,0.462,0
43,CUST100043,31,Employed,10.0,51632,677,11.0,3117,32886,0,0,0,Credit Card,Personal,59700,18.54,0.637,1.156,0.385,0
68,CUST100068,39,Employed,8.3,37923,595,18.5,895,20363,0,0,0,Personal Loan,Debt Consolidation,48300,16.66,0.537,1.274,0.425,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49893,CUST149893,34,Self-Employed,4.4,61843,483,3.3,19,36274,0,0,0,Credit Card,Business,70000,22.37,0.587,1.132,0.377,0
49903,CUST149903,30,Employed,5.7,39127,622,5.5,980,16359,1,0,0,Credit Card,Medical,48100,20.85,0.418,1.229,0.410,0
49908,CUST149908,29,Employed,7.4,22533,773,3.0,637,14642,0,0,0,Credit Card,Education,26900,15.73,0.650,1.194,0.398,0
49956,CUST149956,33,Self-Employed,7.9,41651,632,1.0,304,19686,0,0,0,Personal Loan,Home Improvement,51800,14.30,0.473,1.244,0.415,0
49991,CUST149991,26,Employed,0.7,22159,550,3.7,1174,12699,0,0,0,Credit Card,Personal,24600,21.52,0.573,1.110,0.370,0

In [35]:
#Show rejected loans where interest rate is greater than 18%.
df[(df.loan_status == 0)&(df.interest_rate > 18) ]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
5,CUST100005,32,Employed,13.4,32015,570,7.3,253,1120,0,0,2,Credit Card,Personal,37000,22.92,0.035,1.156,0.385,0
8,CUST100008,29,Employed,5.9,28416,569,2.6,1334,22668,1,2,0,Credit Card,Education,33800,22.72,0.798,1.189,0.396,0
14,CUST100014,18,Self-Employed,1.0,99020,561,1.6,538,13733,0,1,1,Credit Card,Medical,35700,21.57,0.139,0.361,0.120,0
18,CUST100018,24,Employed,5.4,18675,531,3.3,11,3280,0,2,0,Credit Card,Medical,9500,22.49,0.176,0.509,0.170,0
23,CUST100023,18,Student,0.3,33556,574,1.5,91,10727,0,1,1,Credit Card,Business,3400,21.47,0.320,0.101,0.034,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49981,CUST149981,40,Self-Employed,16.2,36357,601,19.4,3526,22029,0,1,0,Credit Card,Personal,31600,20.29,0.606,0.869,0.290,0
49990,CUST149990,37,Employed,9.4,37218,588,11.7,2389,13416,0,0,0,Credit Card,Personal,10600,21.35,0.360,0.285,0.095,0
49991,CUST149991,26,Employed,0.7,22159,550,3.7,1174,12699,0,0,0,Credit Card,Personal,24600,21.52,0.573,1.110,0.370,0
49995,CUST149995,35,Employed,4.3,39449,570,16.3,1127,7576,0,0,0,Credit Card,Education,42800,21.31,0.192,1.085,0.362,0
49996,CUST149996,34,Employed,4.4,20496,672,12.6,1478,6276,1,0,0,Credit Card,Personal,3800,18.07,0.306,0.185,0.062,0

In [36]:
#Find customers with more than 10 years of employment and credit score above 650.
df[(df.years_employed == 10)&(df.credit_score > 650)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
43,CUST100043,31,Employed,10.0,51632,677,11.0,3117,32886,0,0,0,Credit Card,Personal,59700,18.54,0.637,1.156,0.385,0
961,CUST100961,50,Employed,10.0,35695,711,12.5,2930,13678,0,0,0,Credit Card,Home Improvement,7100,15.50,0.383,0.199,0.066,1
1213,CUST101213,45,Employed,10.0,44357,824,10.4,2412,4003,0,0,0,Line of Credit,Education,28400,6.33,0.090,0.640,0.213,1
3912,CUST103912,47,Employed,10.0,76467,651,9.5,8054,5650,0,0,0,Line of Credit,Debt Consolidation,44500,10.71,0.074,0.582,0.194,1
5065,CUST105065,32,Employed,10.0,44487,785,2.9,220,1545,0,1,0,Personal Loan,Business,73600,8.62,0.035,1.654,0.551,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48628,CUST148628,45,Employed,10.0,97996,717,16.6,446,13581,0,0,0,Personal Loan,Home Improvement,100000,10.92,0.139,1.020,0.340,1
48930,CUST148930,48,Employed,10.0,30967,654,7.2,262,1233,0,0,0,Credit Card,Education,31600,17.08,0.040,1.020,0.340,1
48951,CUST148951,37,Employed,10.0,23568,700,3.6,107,14282,0,0,0,Credit Card,Debt Consolidation,6800,15.55,0.606,0.289,0.096,0
49507,CUST149507,34,Employed,10.0,18752,681,6.3,19,3753,0,1,0,Personal Loan,Personal,18900,12.98,0.200,1.008,0.336,1
49880,CUST149880,40,Employed,10.0,20683,698,10.4,1567,6211,0,0,0,Credit Card,Home Improvement,1500,17.18,0.300,0.073,0.024,1

In [37]:
#Display customers whose payment-to-income ratio is greater than 0.3.
df[df.payment_to_income_ratio > 0.3]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1
5,CUST100005,32,Employed,13.4,32015,570,7.3,253,1120,0,0,2,Credit Card,Personal,37000,22.92,0.035,1.156,0.385,0
6,CUST100006,53,Employed,22.9,44989,674,11.1,19667,19298,0,0,0,Personal Loan,Home Improvement,45600,11.02,0.429,1.014,0.338,1
8,CUST100008,29,Employed,5.9,28416,569,2.6,1334,22668,1,2,0,Credit Card,Education,33800,22.72,0.798,1.189,0.396,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49987,CUST149987,34,Employed,5.3,32326,678,14.7,585,12320,0,0,0,Personal Loan,Business,55200,11.54,0.381,1.708,0.569,0
49991,CUST149991,26,Employed,0.7,22159,550,3.7,1174,12699,0,0,0,Credit Card,Personal,24600,21.52,0.573,1.110,0.370,0
49992,CUST149992,30,Employed,9.3,24797,610,8.3,16,6282,0,1,0,Personal Loan,Medical,32100,14.98,0.253,1.295,0.432,0
49995,CUST149995,35,Employed,4.3,39449,570,16.3,1127,7576,0,0,0,Credit Card,Education,42800,21.31,0.192,1.085,0.362,0
49997,CUST149997,41,Self-Employed,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0

In [38]:
#Show customers who are under 30 years old AND applied for a loan greater than 30,000.
df[(df.age <= 30)&(df.loan_amount > 30000)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
8,CUST100008,29,Employed,5.9,28416,569,2.6,1334,22668,1,2,0,Credit Card,Education,33800,22.72,0.798,1.189,0.396,0
14,CUST100014,18,Self-Employed,1.0,99020,561,1.6,538,13733,0,1,1,Credit Card,Medical,35700,21.57,0.139,0.361,0.120,0
16,CUST100016,22,Self-Employed,1.0,82604,605,3.5,9216,16116,0,0,0,Line of Credit,Personal,50000,12.57,0.195,0.605,0.202,1
19,CUST100019,18,Self-Employed,1.0,55309,597,1.5,346,2930,0,0,0,Personal Loan,Debt Consolidation,50400,16.13,0.053,0.911,0.304,0
24,CUST100024,28,Self-Employed,5.4,59899,567,3.2,20476,27393,0,0,0,Line of Credit,Medical,31700,14.98,0.457,0.529,0.176,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49903,CUST149903,30,Employed,5.7,39127,622,5.5,980,16359,1,0,0,Credit Card,Medical,48100,20.85,0.418,1.229,0.410,0
49943,CUST149943,28,Employed,8.5,38752,686,6.4,1657,15672,0,0,0,Credit Card,Business,33900,18.17,0.404,0.875,0.292,1
49975,CUST149975,21,Self-Employed,1.0,68454,552,2.3,1371,24545,0,3,1,Personal Loan,Debt Consolidation,100000,16.41,0.359,1.461,0.487,0
49992,CUST149992,30,Employed,9.3,24797,610,8.3,16,6282,0,1,0,Personal Loan,Medical,32100,14.98,0.253,1.295,0.432,0
49994,CUST149994,18,Employed,0.0,64343,585,1.3,277,27914,0,0,2,Personal Loan,Personal,41600,15.42,0.434,0.647,0.216,0

# Part C: Advanced Filtering Logic
21.	Find customers with credit history greater than 10 years but credit score less than 600.
22.	Among Self-Employed customers, show those whose loan was rejected.
23.	Display customers with:
•	no defaults
•	no derogatory marks
•	credit score above 650
24.	Identify “high-risk customers” where:
•	credit score < 600
•	OR debt-to-income ratio > 0.6
•	OR delinquencies in last 2 years ≥ 2
25.	Show approved loans where loan-to-income ratio is greater than 1.
26.	Display customers whose savings_assets are less than 500 and current_debt is greater than 20,000.
27.	Find customers who are either Students OR have years_employed less than 2 years.
28.	Show customers with interest rate between 10% and 15%.
29.	Display customers who applied for Debt Consolidation and have loan amount greater than 20,000.
30.	Find customers whose annual income is less than 30,000 but loan amount is greater than

In [39]:
#Find customers with credit history greater than 10 years but credit score less than 600.
df[(df.credit_history_years > 10)&(df.credit_score < 600)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
12,CUST100012,37,Employed,1.3,49084,580,11.3,1289,21106,0,0,1,Line of Credit,Medical,40800,13.12,0.430,0.831,0.277,0
40,CUST100040,43,Employed,19.1,36496,589,18.2,463,7873,0,1,0,Credit Card,Personal,44300,22.33,0.216,1.214,0.405,0
65,CUST100065,51,Employed,18.7,34543,592,30.0,52072,6288,0,0,1,Credit Card,Business,23000,22.49,0.182,0.666,0.222,0
68,CUST100068,39,Employed,8.3,37923,595,18.5,895,20363,0,0,0,Personal Loan,Debt Consolidation,48300,16.66,0.537,1.274,0.425,0
77,CUST100077,31,Employed,5.0,17124,595,12.8,342,2153,0,0,0,Credit Card,Medical,20700,21.79,0.126,1.209,0.403,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,CUST149970,42,Employed,11.9,44114,576,23.6,141,11906,1,1,0,Personal Loan,Debt Consolidation,46600,16.18,0.270,1.056,0.352,0
49977,CUST149977,32,Employed,3.9,23132,560,13.9,112,8077,0,1,0,Personal Loan,Personal,23700,15.81,0.349,1.025,0.342,1
49978,CUST149978,53,Student,0.8,15000,591,27.2,509,3882,0,0,0,Credit Card,Home Improvement,900,21.34,0.259,0.060,0.020,1
49990,CUST149990,37,Employed,9.4,37218,588,11.7,2389,13416,0,0,0,Credit Card,Personal,10600,21.35,0.360,0.285,0.095,0
49995,CUST149995,35,Employed,4.3,39449,570,16.3,1127,7576,0,0,0,Credit Card,Education,42800,21.31,0.192,1.085,0.362,0

In [43]:
#Among Self-Employed customers, show those whose loan was rejected.
df[(df.occupation_status == 'Self-Employed')&(df.loan_status == 0)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
14,CUST100014,18,Self-Employed,1.0,99020,561,1.6,538,13733,0,1,1,Credit Card,Medical,35700,21.57,0.139,0.361,0.120,0
19,CUST100019,18,Self-Employed,1.0,55309,597,1.5,346,2930,0,0,0,Personal Loan,Debt Consolidation,50400,16.13,0.053,0.911,0.304,0
24,CUST100024,28,Self-Employed,5.4,59899,567,3.2,20476,27393,0,0,0,Line of Credit,Medical,31700,14.98,0.457,0.529,0.176,0
31,CUST100031,57,Self-Employed,21.5,38484,696,10.5,4316,18674,0,1,0,Line of Credit,Medical,18500,9.95,0.485,0.481,0.160,0
45,CUST100045,26,Self-Employed,1.3,33606,675,1.4,258,3586,0,1,1,Personal Loan,Personal,23700,11.73,0.107,0.705,0.235,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49956,CUST149956,33,Self-Employed,7.9,41651,632,1.0,304,19686,0,0,0,Personal Loan,Home Improvement,51800,14.30,0.473,1.244,0.415,0
49967,CUST149967,35,Self-Employed,5.1,59364,576,1.7,558,12937,0,0,0,Personal Loan,Debt Consolidation,30700,16.06,0.218,0.517,0.172,0
49975,CUST149975,21,Self-Employed,1.0,68454,552,2.3,1371,24545,0,3,1,Personal Loan,Debt Consolidation,100000,16.41,0.359,1.461,0.487,0
49981,CUST149981,40,Self-Employed,16.2,36357,601,19.4,3526,22029,0,1,0,Credit Card,Personal,31600,20.29,0.606,0.869,0.290,0
49997,CUST149997,41,Self-Employed,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0

In [52]:
#Display customers with: • no defaults • no derogatory marks • credit score above 650
df[(df.defaults_on_file == 0)&(df.derogatory_marks == 0)&(df.credit_score > 650)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
6,CUST100006,53,Employed,22.9,44989,674,11.1,19667,19298,0,0,0,Personal Loan,Home Improvement,45600,11.02,0.429,1.014,0.338,1
10,CUST100010,29,Employed,5.0,15000,657,8.9,2105,3866,0,0,0,Line of Credit,Education,5000,9.24,0.258,0.333,0.111,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49987,CUST149987,34,Employed,5.3,32326,678,14.7,585,12320,0,0,0,Personal Loan,Business,55200,11.54,0.381,1.708,0.569,0
49988,CUST149988,60,Student,1.2,67558,774,13.4,647,2042,0,0,0,Credit Card,Business,6800,14.86,0.030,0.101,0.034,1
49989,CUST149989,41,Employed,16.8,80369,671,14.2,2968,17515,0,0,0,Credit Card,Education,35900,17.31,0.218,0.447,0.149,1
49997,CUST149997,41,Self-Employed,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0
49999,CUST149999,53,Employed,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [53]:
#Identify “high-risk customers” where: • credit score < 600 • OR debt-to-income ratio > 0.6 • OR delinquencies in last 2 years ≥ 2
df[(df.credit_score < 600)|(df.debt_to_income_ratio > 0.6)|(df.delinquencies_last_2yrs > 2)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
5,CUST100005,32,Employed,13.4,32015,570,7.3,253,1120,0,0,2,Credit Card,Personal,37000,22.92,0.035,1.156,0.385,0
8,CUST100008,29,Employed,5.9,28416,569,2.6,1334,22668,1,2,0,Credit Card,Education,33800,22.72,0.798,1.189,0.396,0
12,CUST100012,37,Employed,1.3,49084,580,11.3,1289,21106,0,0,1,Line of Credit,Medical,40800,13.12,0.430,0.831,0.277,0
14,CUST100014,18,Self-Employed,1.0,99020,561,1.6,538,13733,0,1,1,Credit Card,Medical,35700,21.57,0.139,0.361,0.120,0
18,CUST100018,24,Employed,5.4,18675,531,3.3,11,3280,0,2,0,Credit Card,Medical,9500,22.49,0.176,0.509,0.170,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49981,CUST149981,40,Self-Employed,16.2,36357,601,19.4,3526,22029,0,1,0,Credit Card,Personal,31600,20.29,0.606,0.869,0.290,0
49990,CUST149990,37,Employed,9.4,37218,588,11.7,2389,13416,0,0,0,Credit Card,Personal,10600,21.35,0.360,0.285,0.095,0
49991,CUST149991,26,Employed,0.7,22159,550,3.7,1174,12699,0,0,0,Credit Card,Personal,24600,21.52,0.573,1.110,0.370,0
49994,CUST149994,18,Employed,0.0,64343,585,1.3,277,27914,0,0,2,Personal Loan,Personal,41600,15.42,0.434,0.647,0.216,0
49995,CUST149995,35,Employed,4.3,39449,570,16.3,1127,7576,0,0,0,Credit Card,Education,42800,21.31,0.192,1.085,0.362,0

In [54]:
#Show approved loans where loan-to-income ratio is greater than 1.
df[(df.loan_status == 1)&(df.loan_to_income_ratio > 1)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1
6,CUST100006,53,Employed,22.9,44989,674,11.1,19667,19298,0,0,0,Personal Loan,Home Improvement,45600,11.02,0.429,1.014,0.338,1
20,CUST100020,52,Employed,31.3,75932,695,2.1,1283,10655,0,0,0,Personal Loan,Home Improvement,96000,11.05,0.140,1.264,0.421,1
25,CUST100025,36,Employed,6.8,55609,651,16.9,1896,16140,0,0,0,Personal Loan,Education,69400,12.97,0.290,1.248,0.416,1
30,CUST100030,27,Employed,6.2,32073,619,8.0,274,6458,0,0,0,Personal Loan,Medical,50600,13.03,0.201,1.578,0.526,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49931,CUST149931,36,Self-Employed,4.7,54345,694,6.8,249,4891,0,0,0,Credit Card,Debt Consolidation,70000,17.29,0.090,1.288,0.429,1
49961,CUST149961,41,Employed,6.2,67956,660,10.5,11729,2839,0,0,0,Credit Card,Home Improvement,70000,18.42,0.042,1.030,0.343,1
49977,CUST149977,32,Employed,3.9,23132,560,13.9,112,8077,0,1,0,Personal Loan,Personal,23700,15.81,0.349,1.025,0.342,1
49982,CUST149982,45,Student,0.1,27554,698,9.6,665,1429,0,0,0,Personal Loan,Personal,45600,12.32,0.052,1.655,0.552,1
49983,CUST149983,36,Employed,6.2,67472,763,10.6,264,5643,0,0,0,Credit Card,Personal,68600,14.10,0.084,1.017,0.339,1

In [56]:
#Display customers whose savings_assets are less than 500 and current_debt is greater than 20,000.
df[(df.savings_assets < 500)&(df.current_debt > 20000)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
49,CUST100049,18,Employed,0.0,48420,636,0.7,12,20570,0,0,0,Line of Credit,Business,41600,12.71,0.425,0.859,0.286,0
55,CUST100055,46,Self-Employed,3.6,148299,734,0.1,138,69079,0,0,0,Credit Card,Education,70000,15.86,0.466,0.472,0.157,1
66,CUST100066,34,Employed,3.2,87591,681,7.8,325,31229,0,1,0,Credit Card,Personal,21000,17.93,0.357,0.240,0.080,1
81,CUST100081,39,Employed,11.4,70053,742,1.5,439,22131,0,0,0,Credit Card,Education,58700,16.05,0.316,0.838,0.279,1
118,CUST100118,48,Employed,21.4,79056,612,5.5,357,22328,0,1,0,Credit Card,Debt Consolidation,11600,20.89,0.282,0.147,0.049,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49939,CUST149939,52,Employed,32.1,54662,642,2.0,316,21465,0,1,0,Personal Loan,Education,18000,14.40,0.393,0.329,0.110,1
49947,CUST149947,43,Employed,14.4,35603,686,4.3,369,22969,0,0,0,Credit Card,Business,24100,18.60,0.645,0.677,0.226,0
49965,CUST149965,39,Employed,5.5,45615,653,20.9,195,24532,0,0,0,Line of Credit,Medical,24200,9.98,0.538,0.531,0.177,0
49984,CUST149984,39,Self-Employed,4.8,113630,717,10.8,422,37982,0,0,0,Personal Loan,Debt Consolidation,92900,11.17,0.334,0.818,0.273,1
49994,CUST149994,18,Employed,0.0,64343,585,1.3,277,27914,0,0,2,Personal Loan,Personal,41600,15.42,0.434,0.647,0.216,0

In [57]:
#Find customers who are either Students OR have years_employed less than 2 years.
df[(df.occupation_status == 'Student')&(df.years_employed < 2)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
11,CUST100011,29,Student,1.3,17029,668,4.3,215,5592,0,0,0,Line of Credit,Personal,6300,9.69,0.328,0.370,0.123,1
23,CUST100023,18,Student,0.3,33556,574,1.5,91,10727,0,1,1,Credit Card,Business,3400,21.47,0.320,0.101,0.034,0
47,CUST100047,47,Student,0.0,15000,698,5.1,154,3399,0,0,0,Personal Loan,Home Improvement,25400,11.74,0.227,1.693,0.564,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49978,CUST149978,53,Student,0.8,15000,591,27.2,509,3882,0,0,0,Credit Card,Home Improvement,900,21.34,0.259,0.060,0.020,1
49979,CUST149979,18,Student,1.2,26627,546,0.8,18,1634,0,2,0,Line of Credit,Business,13800,14.54,0.061,0.518,0.173,0
49982,CUST149982,45,Student,0.1,27554,698,9.6,665,1429,0,0,0,Personal Loan,Personal,45600,12.32,0.052,1.655,0.552,1
49988,CUST149988,60,Student,1.2,67558,774,13.4,647,2042,0,0,0,Credit Card,Business,6800,14.86,0.030,0.101,0.034,1
49998,CUST149998,38,Student,0.4,17250,633,1.3,5,7779,0,0,1,Personal Loan,Personal,1400,14.71,0.451,0.081,0.027,0

In [58]:
#Show customers with interest rate between 10% and 15%.
df[(df.interest_rate >= 10)&(df.interest_rate <= 15)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1
6,CUST100006,53,Employed,22.9,44989,674,11.1,19667,19298,0,0,0,Personal Loan,Home Improvement,45600,11.02,0.429,1.014,0.338,1
12,CUST100012,37,Employed,1.3,49084,580,11.3,1289,21106,0,0,1,Line of Credit,Medical,40800,13.12,0.430,0.831,0.277,0
16,CUST100016,22,Self-Employed,1.0,82604,605,3.5,9216,16116,0,0,0,Line of Credit,Personal,50000,12.57,0.195,0.605,0.202,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49987,CUST149987,34,Employed,5.3,32326,678,14.7,585,12320,0,0,0,Personal Loan,Business,55200,11.54,0.381,1.708,0.569,0
49988,CUST149988,60,Student,1.2,67558,774,13.4,647,2042,0,0,0,Credit Card,Business,6800,14.86,0.030,0.101,0.034,1
49992,CUST149992,30,Employed,9.3,24797,610,8.3,16,6282,0,1,0,Personal Loan,Medical,32100,14.98,0.253,1.295,0.432,0
49998,CUST149998,38,Student,0.4,17250,633,1.3,5,7779,0,0,1,Personal Loan,Personal,1400,14.71,0.451,0.081,0.027,0
49999,CUST149999,53,Employed,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [71]:
#Display customers who applied for Debt Consolidation and have loan amount greater than 20,000.
df[(df.loan_intent == 'Debt Consolidation')&(df.loan_amount > 20000)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
19,CUST100019,18,Self-Employed,1.0,55309,597,1.5,346,2930,0,0,0,Personal Loan,Debt Consolidation,50400,16.13,0.053,0.911,0.304,0
28,CUST100028,27,Employed,6.2,23613,594,2.9,320,3017,1,1,0,Personal Loan,Debt Consolidation,26400,15.68,0.128,1.118,0.373,0
51,CUST100051,30,Employed,10.8,60218,719,10.8,1120,20999,0,1,0,Line of Credit,Debt Consolidation,40800,9.41,0.349,0.678,0.226,1
52,CUST100052,26,Employed,4.7,49924,675,6.4,333,7730,0,0,0,Credit Card,Debt Consolidation,47000,18.99,0.155,0.941,0.314,1
62,CUST100062,21,Employed,1.9,47404,778,0.5,140,16632,0,0,0,Credit Card,Debt Consolidation,47400,15.29,0.351,1.000,0.333,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49967,CUST149967,35,Self-Employed,5.1,59364,576,1.7,558,12937,0,0,0,Personal Loan,Debt Consolidation,30700,16.06,0.218,0.517,0.172,0
49970,CUST149970,42,Employed,11.9,44114,576,23.6,141,11906,1,1,0,Personal Loan,Debt Consolidation,46600,16.18,0.270,1.056,0.352,0
49972,CUST149972,35,Employed,15.6,100915,677,7.3,8476,20671,0,0,0,Credit Card,Debt Consolidation,21200,17.19,0.205,0.210,0.070,1
49975,CUST149975,21,Self-Employed,1.0,68454,552,2.3,1371,24545,0,3,1,Personal Loan,Debt Consolidation,100000,16.41,0.359,1.461,0.487,0
49984,CUST149984,39,Self-Employed,4.8,113630,717,10.8,422,37982,0,0,0,Personal Loan,Debt Consolidation,92900,11.17,0.334,0.818,0.273,1

In [73]:
#Find customers whose annual income is less than 30,000 but loan amount is greater than 
df[(df.annual_income < 30000)&(df.loan_amount > 30000)]

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
8,CUST100008,29,Employed,5.9,28416,569,2.6,1334,22668,1,2,0,Credit Card,Education,33800,22.72,0.798,1.189,0.396,0
32,CUST100032,34,Employed,10.7,27886,623,6.8,110,2991,0,1,0,Personal Loan,Home Improvement,45300,13.91,0.107,1.624,0.541,0
48,CUST100048,39,Employed,17.4,23955,542,4.6,422,4766,0,0,0,Credit Card,Business,33300,21.39,0.199,1.390,0.463,0
101,CUST100101,29,Self-Employed,4.8,23719,580,6.7,4338,3987,1,1,0,Credit Card,Education,31100,22.42,0.168,1.311,0.437,0
111,CUST100111,34,Employed,5.2,26957,743,7.7,8220,10988,0,0,0,Personal Loan,Education,48300,11.01,0.408,1.792,0.597,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49889,CUST149889,18,Employed,0.0,24391,580,0.2,9,5378,0,0,0,Credit Card,Personal,32200,22.44,0.220,1.320,0.440,0
49910,CUST149910,59,Employed,16.4,25763,681,24.1,7043,7182,0,0,0,Credit Card,Personal,32300,18.13,0.279,1.254,0.418,1
49980,CUST149980,35,Employed,10.5,28836,524,0.5,36,2558,0,0,0,Credit Card,Medical,32900,22.62,0.089,1.141,0.380,0
49982,CUST149982,45,Student,0.1,27554,698,9.6,665,1429,0,0,0,Personal Loan,Personal,45600,12.32,0.052,1.655,0.552,1
49992,CUST149992,30,Employed,9.3,24797,610,8.3,16,6282,0,1,0,Personal Loan,Medical,32100,14.98,0.253,1.295,0.432,0